:root {
  --single-border:black;    
  --color:wheat;  
  --main-height: 300px;
}



header {
    background-color:var(--single-border);
    color:var(--color);
    padding: 30px 15px;
    font-size: 24px;
    display:flex;
    justify-content: space-between;
    text-align: center;  
}
 header a{
     color:var(--color)at;
     text-decoration: none;
 }

article{
   display: flex;
   height: var(--main-height);
   text-align:center; 
   padding: 50px;
   margin: 75px 0;

}

p {
    width: 90%;
}

h2{
    font-size:48px;
    margin: auto;
    padding-right: 45px;
}

div {
    border-left: var(--single-border) solid 5px;
    padding-left: 50px;
}

article img {
    float: left; 
    margin-right: 24px;
}

#projects {  
    display:flex;
    text-align: center;  
    margin-bottom: 75px;
}

#projects h2 {
    padding: 0 22px;
}
.work {
    display:flex;
    flex-wrap: wrap; 
    border-left: var(--single-border) solid 5px;
}

#projects #first-project img {
    width: 600px;
    height: 250px;
    margin: 24px;
}

#projects a img {
    width: 400px;
    height: 200px;
    margin-bottom: 24px;
}

#projects #first-project {
    height: var(--main-height);
    flex-basis: 100%;
}

#projects  a {
    flex-basis:50%;  
} 

#contact {
    display: flex;
    padding: 24px;
    height: 125px;
    text-align: center;
    width: 100%;
    margin-bottom: 75px;

}
#contact h2 {
    margin:0;
    padding:15px;
}

#contact a {
    margin:0 24px;
    padding: 0 24px;
    font-size:24px;
    
     
}

.contacts{
    display:flex;
    flex-wrap:wrap;
    border-left: var(--single-border) solid 5px;
    padding-left:150px;
}

footer{
    background-color: var(--single-border);
    padding: 30px 15px;
    color: var(--color);
    text-align:center;
    font-size: 24px;
}

@media screen and (max-width: 992px) {
    div {
        width: 50%;
    }
    article {
        padding: 0;
    }
    article img {
        float: none;
        margin-bottom: 25px;
    }

    #projects #first-project img {
        width: 450px;
    }

    h2{
        font-size: 32px;
        padding: 0 12px;
        margin: 0;
    }
    .work{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .contacts{
        padding-left:0;
    }

    #contact {
        padding: 0
    }
    #contact h2 {
        padding: 26px;
    }

    #contact a {
        width: 40%;
        padding: 10px;
        font-size: 20px;
        margin: 0;

    }

    
}

@media screen and (max-width: 768px) {

    
}