header {
    background-color:black;
    height: 60px;
    padding-top:15px;
    text-align:right;
    
}

header nav a {
    padding:12px;
    margin: 8px;
    font-size:24px;
    text-decoration: none;
    color:wheat;
    
    
}

h1 {
text-align:center;
font-size: 48px;
margin: 24px 0;
padding-top:24px;
}

article{
   padding: 24px;
   height: 300px;
   border-left:black solid 5px;
   margin: 32px 32px 100px 20%;
  
    
}

h2{
    font-size:48px;
    position: relative;
    left: -300px;
    top: 125px;

}

article img {
    float: left; 
    margin-right: 24px;
}

#projects 
{  
    display:flex;
    flex-wrap: wrap;
    text-align: center;  
    border-left:black solid 5px;
    margin: 32px 32px 100px 20%;;
}

#projects h2 {
    top:300px;
    left:-275px;
}
span {
    text-align: center; 
}


#projects {
    width: auto;
}

#projects #first-project img {
    width: 600px;
    height: 250px;
    margin: 24px;
}

#projects a img {
    height: 200px;
    margin-bottom: 24px;
}

#projects #first-project {
    height: 300px;
    flex-basis: 100%;
}

#projects  a {
    flex-basis:50%;  
}

#contact {
    padding: 24px;
    height: 125px;
    border-left:black solid 5px;
    margin: 32px 32px 100px 20%;
    text-align: center;

}

#contact h2 {
 top: 20px;
 left: -315px;
 text-align: left;
}

#contact a {
    margin:0 24px;
    padding: 0 24px;
    font-size:24px;
    
    
}

footer{
    background-color: black;
    height: 60px;
}