header {
    background-color:black;
    color:wheat;
    padding: 30px 15px;
    font-size: 24px;
    display:flex;
    justify-content: space-between;
    text-align: center;  
}
 header a{
     color:wheat;
     text-decoration: none;
 }

article{
   display: flex;
   height: 300px;
   text-align:center; 
   padding: 50px;
   margin: 75px 0;

}

p {
    width: 90%;
}

h2{
    font-size:48px;
    margin: auto;
    padding-right: 45px;
}

div {
    border-left: black solid 5px;
    padding-left: 50px;
}

article img {
    float: left; 
    margin-right: 24px;
}

#projects {  
    display:flex;
    text-align: center;  
    margin-bottom: 75px;
}

#projects h2 {
    padding: 0 22px;
}
.work {
    display:flex;
    flex-wrap: wrap; 
    border-left:black solid 5px;
}

#projects #first-project img {
    width: 600px;
    height: 250px;
    margin: 24px;
}

#projects a img {
    width: 400px;
    height: 200px;
    margin-bottom: 24px;
}

#projects #first-project {
    height: 300px;
    flex-basis: 100%;
}

#projects  a {
    flex-basis:50%;  
} 

#contact {
    display: flex;
    padding: 24px;
    height: 125px;
    text-align: center;
    width: 100%;
    margin-bottom: 75px;

}
#contact h2 {
    margin:0;
    padding:15px;
}

#contact a {
    margin:0 24px;
    padding: 0 24px;
    font-size:24px;
    justify-content:end;
     
}

.contacts{
    display:flex;
    flex-wrap:wrap;
    border-left:black solid 5px;
    padding-left:150px;
}

footer{
    background-color: black;
    height: 60px;
}